---
import { ViewTransitions } from 'astro:transitions';
import Background from "../sections/Background.astro";
import Aside from "../sections/Aside.astro";
import RightSide from "../sections/RightSide.astro";
import Footer from "../sections/Footer.astro"
interface Props {
	title: string;
	lang: "en" | "es"
}

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body class="w-dvw h-dvh grid grid-cols-12 scroll-smooth dark:text-white dark:bg-slate-800 font-mono bg-white gap-x-10 transition-all duration-300 overflow-x-hidden relative">
		<Background/>
		<Aside lang={lang}/>
		<main class="col-span-8 flex flex-col gap-y-10 pt-16">
			<slot/>
			<Footer/>
		</main>
		<RightSide language={lang}/>
		<script>
			document.addEventListener("astro:page-load", ()=>{
				const theme = localStorage.getItem("theme")
				if(theme === "dark") document.body.classList.add("dark");
			})
		</script>
	</body>
</html>
